<!-- Просмотр и редактирование категорий -->
<div id="modal-category" class="ui modal">
  <i class="close icon"></i>

  <div id="modal-category-header" class="header">Категория</div>

  <div class="content">

    {% if perms.catalog.change_category %}
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="view">Просмотр</a>
      <a class="item" data-tab="edit">Редактирование</a>
    </div>

    <div class="ui bottom attached tab segment active" data-tab="view">
      <div id="view-category-name"></div>
      <div id="view-category-description"></div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="edit">
      <form class="ui form">
        <input id="edit-category-id" type="hidden" value="0">
        <div class="field">

        <!-- TODO -->







        <label>Наименование
            <input id="edit-category-name" type="text" value="">
        </label>

        <label>Псевдоним (служебное поле)
            <input id="edit-category-alias" type="text" value="">
        </label>

        <label>Родительская категория
            <select id="edit-category-parent">
                <option value="0" selected>Корневая категория</option>
                {% for parent in categories %}
                <option value="{{ parent.id }}">{{ parent.name }}</option>
                {% endfor %}
            </select>
        </label>

        <label>Описание
            <textarea id="edit-category-description"></textarea>
        </label>

        <label>Статус
            <div class="switch small">
                <input id="edit-category-state" type="checkbox">
                <label for="edit-category-state"></label>
            </div>
        </label>

        <hr/>

        <div class="button-group">
            <a class="button" data-do="edit-category-save"><i class="far fa-save"></i> Сохранить</a>
            <a class="button secondary" data-do="edit-category-cancel"><i class="far fa-times"></i> Отменить</a>
        </div>

    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
{% endif %}

{% if perms.catalog.delete_category %}
<div id="modal-delete-category" class="reveal" data-reveal>

    <h2>Удалить категорию?</h2>

    <form>

        <input id="delete-category-id" type="hidden" value="0">

        <p id="delete-category-name"></p>

        <hr/>

        <div class="button-group">
            <a class="button alert" data-do="delete-category-apply">Сохранить</a>
            <a class="button secondary" data-do="delete-category-cancel">Отменить</a>
        </div>

    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
{% endif %}
