{% if perms.catalog.change_parametertype or perms.catalog.add_parametertype %}
<div id="modal-edit-parameter-type" class="reveal-modal large" data-reveal>

	<h2 id="modal-edit-parameter-type-header">&ndsp;</h2>

	<input id="edit-parameter-type-id" type="hidden" value="0">

	<label>Наименование
		<input id="edit-parameter-type-name" type="text" value="">
	</label>

	<label>Псевдоним (служебное поле)
		<input id="edit-parameter-type-alias" type="text" value="">
	</label>

	<label>Статус
		<div class="switch small">
			<input id="edit-parameter-type-state" type="checkbox">
			<label for="edit-parameter-type-state"></label>
		</div>
	</label>

	<button data-do="edit-parameter-type-save" class="primary"><i class="fa fa-ok"></i>&nbsp;Сохранить</button>
	<button data-do="edit-parameter-type-cancel" class="secondary">Отменить</button>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
