{% if perms.catalog.add_categorysynonym or perms.catalog.change_categorysynonym %}
<div id="modal-edit-categorysynonym" class="reveal-modal large" data-reveal>

	<h2 id="modal-edit-categorysynonym-header"> </h2>

	<input id="edit-categorysynonym-id" type="hidden" value="0">

	<label>Наименование
		<input id="edit-categorysynonym-name" type="text" value="">
	</label>

	<label>Загрузчик
		<select id="edit-categorysynonym-updater">
			<option value="0" selected> - Не определён (None) - </option>
			{% for updater in updaters %}
			<option value="{{ updater.id }}">{{ updater.name }}</option>
			{% endfor %}
		</select>
	</label>

	<label>Поставщик
		<select id="edit-categorysynonym-distributor">
			<option value="0" selected> - Не определён (None) - </option>
			{% for distributor in distributors %}
			<option value="{{ distributor.id }}">{{ distributor.name }}</option>
			{% endfor %}
		</select>
	</label>

	<label>Категория
		<select id="edit-categorysynonym-category">
			<option value="0" selected> - Не определена (None) - </option>
			{% for category in categories %}
			<option value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
		</select>
	</label>

	<button data-do="edit-categorysynonym-save" class="primary"><i class="fa fa-ok"></i>&nbsp;Сохранить</button>
	<button data-do="edit-categorysynonym-cancel" class="secondary">Отменить</button>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}

{% if perms.catalog.delete_categorysynonym %}
<div id="modal-delete-categorysynonym" class="reveal-modal" data-reveal>

	<h2>Удалить синоним категории?</h2>

	<input id="delete-categorysynonym-id" type="hidden" value="0">

	<p id="delete-categorysynonym-name"></p>

	<button data-do="delete-categorysynonym-apply" class="alert"><i class="fa fa-trash"></i>&nbsp;Удалить</button>
	<button data-do="delete-categorysynonym-cancel" class="secondary">Отменить</button>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
