<div id="modal-filter-products" class="reveal-modal large" data-reveal>

	<dl class="tabs" data-tab>
		<dd id="dd-panel-category" class="active"><a href="#panel-category"><i class="fa fa-folder-open-o"></i> Категория</a></dd>
		<dd id="dd-panel-vendor"><a href="#panel-vendor"><i class="fa fa-building"></i> Производитель</a></dd>
		<dd id="dd-panel-search"><a href="#panel-search"><i class="fa fa-search"></i> Дополнительно</a></dd>
	</dl>

	<div class="tabs-content">

		<div class="content active" id="panel-category">
			<p><span>Категория: </span><span id="filter-products-selected-category" data-id="{% if category != None %}{{ category.id }}{% endif %}">{% if category != None %}{{ category.name }}{% else %}Все категории{% endif %}</span>.</p>
			<ul class="inline-list">
				<li>
					<div class="switch tiny">
						<input id="filter-products-selected-childs" type="checkbox"{% if childs != 'n' %} checked{% endif %}>
						<label for="filter-products-selected-childs"></label>
					</div>
				</li>
				<li>
					<p>Включить дочерние категории.</p>
				</li>
			</ul>
			{% autoescape off %}{{ categories_ul }}{% endautoescape %}
		</div>

		<div class="content" id="panel-vendor">
			<fieldset>
				<legend>Производитель</legend>

				<div class="row">
					<div class="large-12 columns">
						<p><b><span>Текущий: </span><span id="filter-products-selected-vendor" data-alias="{% if vendor != None %}{{ vendor.alias }}{% endif %}">{% if vendor != None %}{{ vendor.name }}{% else %}Все производители{% endif %}</span>.</b></p>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<label>Фильтр списка
							<input id="filter-products-filter-vendors" data-do="filter-products-filter-vendors" type="text" placeholder="Fuj_">
						</label>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<a data-do="filter-products-select-vendor" data-alias="">Все производители</a>
					</div>
				</div>
				<hr/>
				<div class="row">
					{% for vendor in vendors %}
					<div class="large-3 medium-6 small-12 columns" data-is="vendor-selector">
					<a href="/catalog/products/{{ vendor.alias }}/" data-do="filter-products-select-vendor" data-alias="{{ vendor.alias }}">{{ vendor.name }}</a>
					</div>
					{% endfor %}
				</div>
			</fieldset>
		</div>

		<div class="content" id="panel-search">
			<label>Поисковый запрос
				<input id="filter-products-search-input" type="text" placeholder="Артикул, наименование или их часть..." value="{% if search %}{{ search }}{% endif %}">
			</label>
		</div>

	</div>

	<button data-do="filter-products-apply">Применить</button>
	<button data-do="filter-products-cancel" class="secondary">Отмена</button>
	<a class="close-reveal-modal">&#215;</a>
</div>


<div id="modal-view-parties" class="reveal-modal" data-reveal>
	<h2>Партии продукта</h2>
	<div id="modal-view-parties-content"></div>
	<a class="close-reveal-modal">&#215;</a>
</div>


{% if perms.catalog.change_product or perms.catalog.add_product %}
<div id="modal-edit-product" class="reveal-modal large" data-reveal>

	<h2 id="modal-edit-product-header"> </h2>

	<input id="edit-product-id" type="hidden" value="0">

	<label>Наименование
		<input id="edit-product-name" type="text" value="">
	</label>

	<label>Артикул
		<input id="edit-product-article" type="text" value="">
	</label>

	<label>Производитель
		<select id="edit-product-vendor">
			{% for vendor in vendors %}
			<option value="{{ vendor.id }}">{{ vendor.name }}</option>
			{% endfor %}
		</select>
	</label>

	<label>Категория
		<select id="edit-product-category">
			<option value="0" selected> - Не определена - </option>
			{% for category in categories %}
			<option value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
		</select>
	</label>

	<label>Описание
		<textarea id="edit-product-description" type="text"></textarea>
	</label>

	<label>Дубль
		<input id="edit-product-double" type="text">
	</label>

	<label>Статус
		<div class="switch small">
			<input id="edit-product-state" type="checkbox">
			<label for="edit-product-state"></label>
		</div>
	</label>

	<button data-do="edit-product-save" class="primary"><i class="fa fa-save"></i>&nbsp;Сохранить</button>
	<button data-do="edit-product-cancel" class="secondary"><i class="fa fa-close"></i>&nbsp;Отменить</button>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
