<div id="modal-view-parties" class="reveal" data-reveal>

	<h2>Партии</h2>

	<div id="modal-view-parties-content"></div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


{% if perms.catalog.change_product or perms.catalog.add_product %}
<div id="modal-edit-product" class="reveal-modal large" data-reveal>

	<h2 id="modal-edit-product-header"> </h2>

	<input id="edit-product-id" type="hidden" value="0">

	<label>Наименование
		<input id="edit-product-name" type="text" value="">
	</label>

	<label>Артикул
		<input id="edit-product-article" type="text" value="">
	</label>

	<label>Производитель
		<select id="edit-product-vendor">
			{% for vendor in vendors %}
			<option value="{{ vendor.id }}">{{ vendor.name }}</option>
			{% endfor %}
		</select>
	</label>

	<label>Категория
		<select id="edit-product-category">
			<option value="0" selected> - Не определена - </option>
			{% for category in categories %}
			<option value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
		</select>
	</label>

	<label>Описание
		<textarea id="edit-product-description" type="text"></textarea>
	</label>

	<label>Дубль
		<input id="edit-product-double" type="text">
	</label>

	<label>Статус
		<div class="switch small">
			<input id="edit-product-state" type="checkbox">
			<label for="edit-product-state"></label>
		</div>
	</label>

	<button data-do="edit-product-save" class="primary"><i class="fa fa-save"></i>&nbsp;Сохранить</button>
	<button data-do="edit-product-cancel" class="secondary"><i class="fa fa-close"></i>&nbsp;Отменить</button>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
