{% extends "main.html" %}
{% block title %}Anodos.Catalog: Категории{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

<div class="row collapse">
{% if perms.catalog.add_category %}
	<button data-do="open-new-category" class="secondary expand"><i class="fa fa-pencil"></i> Добавить категорию</button>
{% endif %}
</div>

{% if perms.catalog.add_category or perms.catalog.change_category or perms.catalog.delete_category %}

<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Наименование</th>
			<th colspan = "2">Статус</th>
		</tr>
		{% for category in categories %}
		<tr data-category = "{{ category.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				<a
					data-do = "open-edit-category"
					data-category-id = "{{ category.id }}"
					data-category-name = "{{ category.id }}">{{ category.name }}</a></td>
			<td>
				<div class="switch small">
					<input
						id = "category-{{ category.id }}-state"
						data-do = "switch-category-state"
						data-category-id = "{{ category.id }}"
						data-category-state = "{{ category.id }}"
						type = "checkbox"{% if category.state %} checked{% endif %}>
					<label for="category-{{ category.id }}-state"></label>
				</div>
			</td>
			<td>
				<button class = "tiny secondary"
					data-do = "open-delete-category"
					data-category-id = "{{ category.id }}">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "catalog/modal/category.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/category.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
