{% extends "main.html" %}
{% block title %}Anodos.Catalog: Синонимы категорий{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

<div class="row collapse">
	<ul class="button-group even-2">
		{% if perms.catalog.add_categorysynonym %}<li><button data-do="open-new-categorysynonym" class="secondary expand"><i class="fa fa-pencil"></i> Добавить синоним</button></li>{% endif %}
		{% if perms.catalog.add_category %}<li><button data-do="open-new-category" class="secondary expand"><i class="fa fa-pencil"></i> Добавить категорию</button></li>{% endif %}
	</ul>
</div>

{% if perms.catalog.add_categorysynonym or perms.catalog.change_categorysynonym %}

<div class="row collapse">
	<div class="small-6 columns">
		<label>Загрузчик
			<select
				id="filter-updater"
				data-do="filter-categorysynonyms">
				<option value="all"{% if updater_selected == 'all' %} selected{% endif %}> - Все загрузчики - </option>
				<option value="0"{% if updater_selected == 0 %} selected{% endif %}> - Не определён (None) - </option>
				{% for updater in updaters %}
				<option value="{{ updater.id }}"{% if updater.id == updater_selected %} selected{% endif %}>{{ updater.name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="small-6 columns">
		<label>Категория
			<select
				id="filter-category"
				data-do="filter-categorysynonyms">
				<option value = "all"{% if category_selected == 'all' %} selected{% endif %}> - Все категории - </option>
				<option value = "0"{% if category_selected == 0 %} selected{% endif %}> - Не определена (None) - </option>
				{% for category in categories %}
				<option value = "{{ category.id }}"{% if category.id == category_selected %} selected{% endif %}>{{ category.name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
</div>

<div class = "row collapse">
	<table>
		<tr>
			<th class = "text-center">#</th>
			<th>Наименование</th>
			<th>Категория</th>
			<th>Управление</th>
			<th class = "hide-for-small-only">Загрузчик</th>
		</tr>
		{% for categorysynonym in categorysynonyms %}
		<tr data-categorysynonym = "{{ categorysynonym.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				<a
					data-do = "open-edit-categorysynonym"
					data-categorysynonym-id = "{{ categorysynonym.id }}"
					data-categorysynonym-name = "{{ categorysynonym.id }}">{{ categorysynonym.name }}</a>
			</td>
			<td>
				<a
					data-do = "open-edit-category"
					data-category-id = "{{ categorysynonym.category.id }}"
					data-category-name = "{{ categorysynonym.category.id }}"
					data-categorysynonym-category-name = "{{ categorysynonym.id }}">{{ categorysynonym.category.name }}</a>
			</td>
			<td>
				<button class="tiny"
					data-do = "link-categorysynonym-same-category"
					data-categorysynonym-id = "{{ categorysynonym.id }}"><i class="fa fa-link"></i></button>
				<button class = "tiny alert"
					data-do = "open-delete-categorysynonym"
					data-categorysynonym-id = "{{ categorysynonym.id }}"><i class = "fa fa-trash"></i></button>
			</td>
			<td class = "hide-for-small-only">
				<a
					data-do = "open-edit-updater"
					data-updater-id = "{{ categorysynonym.updater.id }}"
					data-updater-name = "{{ categorysynonym.updater.id }}"
					data-categorysynonym-updater-name = "{{ categorysynonym.id }}">{{ categorysynonym.updater.name }}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class = "row collapse">
	<div class = "small-12 columns">
		<p class = "panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "catalog/modal/categorysynonym.html" %}
{% include "catalog/modal/updater.html" %}
{% include "catalog/modal/category.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/categorysynonym.js" %}
{% include "catalog/js/updater.js" %}
{% include "catalog/js/category.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
