{% extends "main.html" %}
{% block content %}

<!-- Форма добавления новой категории -->
<div class="row collapse">
	<div class="small-5 columns">
		<input id="new-category-name" type="text" placeholder="Имя новой категории">
	</div>
	<div class="small-5 columns">
		<select id="new-category-parent" >
			<option value="null" selected>Корневая категория</option>
			{% for category in categories %}
			<option value="{{ category.id }}">{{ category.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="small-2 columns">
		<a href="#" id="do-add-category" class="button postfix"><i class="fa fa-plus"><span class="hide-for-small-only">&nbsp;Добавить</span></i></a>
	</div>
</div>

<!-- Таблица со списком категорий -->
<div class="row collapse">
<table>
<tr>
	<th>Наименование</th>
	<th>Статус</th>
	<th class="hide-for-small-only">Управление</th>
</tr>
{% for category in categories %}
<tr>
	<td><a href="/catalog/category/{{ category.id }}/">{{ category.name }}</a></td>
	<td>
		<div class="switch small">
			<input id="category-state-{{ category.id }}" data-id="{{ category.id }}" class="do-switch-category-state" type="checkbox"{% if category.state %} checked{% endif %}>
			<label for="category-state-{{ category.id }}"></label>
		</div>
	</td>
	<td class="hide-for-small-only">
		<div class="row">
			<div class="small-10 columns">
				<select>
					<option value="null">Корневая категория</option>
					{% for parent in categories %}
					<option value="{{ category.id }}"{% if category.parent.id == parent.id %} selected{% endif %}>{{ parent.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="small-2 columns">
				<a href="#" class="button alert postfix do-trash-category" data-id="{{ category.id }}">
					<i class="fa fa-trash"></i>
				</a>
			</div>
		</div>
	</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
{% block js-content %}
<script>
{% include "catalog/js/categories.js" %}
</script>
{% endblock %}
