{% extends "main.html" %}
{% block title %}Anodos.Catalog: Поставщики{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

{% if perms.catalog.add_distributor or perms.catalog.change_distributor or perms.catalog.delete_distributor %}

<div class="row">
    <ul class="menu">
        <li><a href="/catalog/manage/updaters/">Загрузчики</a></li>
        <li class="active"><a href="/catalog/manage/distributors/">Поставщики</a></li>
        <li><a href="/catalog/manage/stocks/">Склады</a></li>
    </ul>
</div>

<hr/>

<div class="row">
    <div class="button-group">
        {% if perms.catalog.add_distributor %}
        <a class="button secondary" data-do="open-new-distributor">Добавить поставщика</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <table>
        <thead>
            <tr>
                <th width="1%">#</th>
                <th>Наименование</th>
                <th width="1%">Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for distributor in distributors %}
            <tr data-distributor = "{{ distributor.id }}">
                <td>{{ forloop.counter }}</td>
                <td>
                    <a
                        data-do="open-edit-distributor"
                        data-distributor-id="{{ distributor.id }}"
                        data-distributor-name="{{ distributor.id }}">{{ distributor.name }}</a></td>
                <td>
                    <div class = "switch small">
                        <input
                            class="switch-input"
                            id="distributor-{{ distributor.id }}-state"
                            data-do="switch-distributor-state"
                            data-distributor-id="{{ distributor.id }}"
                            data-distributor-state="{{ distributor.id }}"
                            type="checkbox"{% if distributor.state %} checked{% endif %}>
                        <label class="switch-paddle" for="distributor-{{ distributor.id }}-state"></label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}

<div class="row collapse">
    <div class="small-12 columns">
        <p class="panel">Недостаточно прав для данной функциональности.</p>
    </div>
</div>

{% endif %}

{% include "catalog/modal/distributor.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/distributor.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
