{% extends "main.html" %}
{% block title %}Anodos.Catalog: Синонимы параметров{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

<div class="row collapse">
	<ul class="button-group even-3">
		{% if perms.catalog.add_parametersynonym %}<li><button data-do="open-new-parametersynonym" class="secondary expand"><i class="fa fa-pencil"></i> Добавить синоним</button></li>{% endif %}
		{% if perms.catalog.add_parameter %}<li><button data-do="open-new-parameter" class="secondary expand"><i class="fa fa-pencil"></i> Добавить параметр</button></li>{% endif %}
		{% if perms.catalog.add_parametertype %}<li><button data-do="open-new-parametertype" class="secondary expand"><i class="fa fa-pencil"></i> Добавить тип данных параметров</button></li>{% endif %}
	</ul>
</div>

{% if perms.catalog.add_parametersynonym or perms.catalog.change_parametersynonym %}

<div class="row collapse">
	<div class="small-4 columns">
		<label>Загрузчик
			<select
				id="filter-updater"
				data-do="filter-parametersynonyms">
				<option value="all"{% if updater_selected == 'all' %} selected{% endif %}> - Все загрузчики - </option>
				<option value="0"{% if updater_selected == 0 %} selected{% endif %}> - Не определён (None) - </option>
				{% for updater in updaters %}
				<option value="{{ updater.id }}"{% if updater.id == updater_selected %} selected{% endif %}>{{ updater.name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="small-4 columns">
		<label>Поставщик
			<select
				id="filter-distributor"
				data-do="filter-parametersynonyms">
				<option value="all"{% if distributor_selected == 'all' %} selected{% endif %}> - Все поставщики - </option>
				<option value="0"{% if distributor_selected == 0 %} selected{% endif %}> - Не определён (None) - </option>
				{% for distributor in distributors %}
				<option value="{{ distributor.id }}"{% if distributor.id == distributor_selected %} selected{% endif %}>{{ distributor.name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="small-4 columns">
		<label>Параметр
			<select
				id="filter-parameter"
				data-do="filter-parametersynonyms">
				<option value="all"{% if parameter_selected == 'all' %} selected{% endif %}> - Все параметры - </option>
				<option value="0"{% if parameter_selected == 0 %} selected{% endif %}> - Не определён (None) - </option>
				{% for parameter in parameters %}
				<option value="{{ parameter.id }}"{% if parameter.id == parameter_selected %} selected{% endif %}>{{ parameter.name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
</div>

<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Наименование</th>
			<th class="hide-for-small-only">Загрузчик</th>
			<th class="hide-for-small-only">Поставщик</th>
			<th>Параметр</th>
			<th>Управление</th>
		</tr>
		{% for parametersynonym in parametersynonyms %}
		<tr data-parametersynonym="{{ parametersynonym.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				<a
					data-do = "open-edit-parametersynonym"
					data-parametersynonym-id = "{{ parametersynonym.id }}"
					data-parametersynonym-name = "{{ parametersynonym.id }}">{{ parametersynonym.name }}</a>
			</td>
			<td class="hide-for-small-only">
				<a
					data-do = "open-edit-updater"
					data-updater-id = "{{ parametersynonym.updater.id }}"
					data-updater-name = "{{ parametersynonym.updater.id }}"
					data-parametersynonym-updater-name = "{{ parametersynonym.id }}">{{ parametersynonym.updater.name }}</a>
			</td>
			<td class="hide-for-small-only">
				<a
					data-do = "open-edit-distributor"
					data-distributor-id = "{{ parametersynonym.distributor.id }}"
					data-distributor-name = "{{ parametersynonym.distributor.id }}"
					data-parametersynonym-distributor-name = "{{ parametersynonym.id }}">{{ parametersynonym.distributor.name }}</a>
			</td>
			<td class="hide-for-small-only">
				<a
					data-do = "open-edit-parameter"
					data-parameter-id = "{{ parametersynonym.parameter.id }}"
					data-parameter-name="{{ parametersynonym.parameter.id }}"
					data-parametersynonym-parameter-name = "{{ parametersynonym.id }}">{{ parametersynonym.parameter.name }}</a>
			</td>
			<td>
				<button class = "tiny"
					data-do = "link-parametersynonym-same-parameter"
					data-parametersynonym-id = "{{ parametersynonym.id }}"><i class="fa fa-link"></i></button>
				<button class = "tiny alert"
					data-do = "open-delete-parametersynonym"
					data-parametersynonym-id = "{{ parametersynonym.id }}"><i class="fa fa-trash"></i></button>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "catalog/modal/parametersynonym.html" %}
{% include "catalog/modal/parameter.html" %}
{% include "catalog/modal/parametertype.html" %}
{% include "catalog/modal/updater.html" %}
{% include "catalog/modal/distributor.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/parametersynonym.js" %}
{% include "catalog/js/parameter.js" %}
{% include "catalog/js/parametertype.js" %}
{% include "catalog/js/updater.js" %}
{% include "catalog/js/distributor.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
