{% extends "main.html" %}
{% block title %}Anodos.Каталог: Типы данных параметров{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}


<div class="row collapse">
	{% if perms.catalog.add_parametertype %}<button data-do="open-new-parametertype" class="secondary expand"><i class="fa fa-pencil"></i> Добавить тип данных параметров</button>{% endif %}
</div>

{% if perms.catalog.add_parametertype or perms.catalog.change_parametertype or perms.catalog.delete_parametertype %}

<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Наименование</th>
			<th>Псевдоним</th>
			<th colspan = "2">Статус</th>
		</tr>
		{% for parametertype in parametertypes %}
		<tr data-parametertype = "{{ parametertype.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				<a
					data-do = "open-edit-parametertype"
					data-parametertype-id = "{{ parametertype.id }}"
					data-parametertype-name = "{{ parametertype.id }}">{{ parametertype.name }}</a></td>
			<td>
				<a
					data-parametertype-alias = "{{ parametertype.id }}">{{ parametertype.alias }}</a></td>
			<td>
				<div class = "switch small">
					<input
						id = "parametertype-{{ parametertype.id }}-state"
						data-do = "switch-parametertype-state"
						data-parametertype-id = "{{ parametertype.id }}"
						data-parametertype-state = "{{ parametertype.id }}"
						type = "checkbox"{% if parametertype.state %} checked{% endif %}>
					<label for = "parametertype-{{ parametertype.id }}-state"></label>
				</div>
			</td>
			<td>
				<button class = "tiny secondary"
					data-do = "open-delete-parametertype"
					data-parametertype-id = "{{ parametertype.id }}">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "catalog/modal/edit-parametertype.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/edit-parametertype.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
