{% extends "main.html" %}
{% block title %}Anodos.Catalog: Значение параметров{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

<div class="row collapse">
	<ul class="button-group even-4">
		{% if perms.catalog.add_parametervalue %}<li><button data-do="open-new-parametervalue" class="secondary expand"><i class="fa fa-pencil"></i> Добавить значение параметра</li></button>{% endif %}
		{% if perms.catalog.add_parameter %}<li><button data-do="open-new-parameter" class="secondary expand"><i class="fa fa-pencil"></i> Добавить параметр</button></li>{% endif %}
		{% if perms.catalog.add_parametertype %}<li><button data-do="open-new-parametertype" class="secondary expand"><i class="fa fa-pencil"></i> Добавить тип данных параметров</button></li>{% endif %}
		{% if perms.catalog.add_unit %}<li><button data-do="open-new-unit" class="secondary expand"><i class="fa fa-pencil"></i> Добавить единицу измерения</li></button>{% endif %}
	</ul>
</div>


{% if perms.catalog.add_parametervalue or perms.catalog.change_parametervalue or perms.catalog.delete_parametervalue %}

<div class="row collapse">
	<div class="small-12 columns">
		<label>Параметр
			<select
				id="filter-parameter"
				data-do="filter-parametervalue">
				<option value="all"{% if parameter_selected == 'all' %} selected{% endif %}> - Все параметры - </option>
				<option value="0"{% if parameter_selected == 0 %} selected{% endif %}> - Не определён (None) - </option>
				{% for parameter in parameters %}
				<option value="{{ parameter.id }}"{% if parameter.id == parameter_selected %} selected{% endif %}>{{ parameter.name }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
</div>

<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Параметр</th>
			<th>Значение</th>
			<th>Единица измерения</th>
			<th>Статус</th>
		</tr>
		{% for parametervalue in parametervalues %}
		<tr data-parametervalue = "{{ parametervalue.id }}">
			<td>{{ forloop.counter }}</td>
			<td class = "hide-for-small-only">
				<a
					data-do = "open-edit-parameter"
					data-parameter-id = "{{ parametervalue.parameter.id }}"
					data-parameter-name="{{ parametervalue.parameter.id }}"
					data-parametervalue-parameter-name = "{{ parametervalue.id }}">{{ parametervalue.parameter.name }}</a>
			</td>
			<td>
				<a
					data-do = "open-edit-parameter-value"
					data-parametervalue-id = "{{ parametervalue.id }}"
					data-parametervalue-value = "{{ parametervalue.id }}">{{ parametervalue.value_search }}</a>
			</td>
			<td class = "hide-for-small-only">
				<a
					data-do = "open-edit-unit"
					data-unit-id = "{{ parametervalue.unit.id }}"
					data-unit-name="{{ parametervalue.unit.id }}"
					data-parametervalue-unit-name = "{{ parametervalue.id }}">{{ parametervalue.unit.name }}</a>
			</td>
			<td>
				<div class="switch small">
					<input
						id = "parametervalue-{{ parametervalue.id }}-state"
						data-do = "switch-parametervalue-state"
						data-parametervalue-id = "{{ parametervalue.id }}"
						data-parametervalue-state = "{{ parametervalue.id }}"
						type = "checkbox"{% if parametervalue.state %} checked{% endif %}>
					<label for="parametervalue-{{ parametervalue.id }}-state"></label>
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "catalog/modal/parametervalue.html" %}
{% include "catalog/modal/parameter.html" %}
{% include "catalog/modal/parametertype.html" %}
{% include "catalog/modal/unit.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/parametervalue.js" %}
{% include "catalog/js/parameter.js" %}
{% include "catalog/js/parametertype.js" %}
{% include "catalog/js/unit.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
