{% extends "main.html" %}
{% block title %}Anodos.Catalog: Типы цен и наценки{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

{% if perms.catalog.add_pricetype or perms.catalog.change_pricetype or perms.catalog.delete_pricetype %}

<div class="row collapse">
	{% if perms.catalog.add_pricetype %}<button data-do="open-new-pricetype" class="secondary expand"><i class="fa fa-pencil"></i> Добавить тип цены</button>{% endif %}
</div>

<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Наименование</th>
			<th>Модификатор</th>
			<th colspan = "2">Статус</th>
		</tr>
		{% for pricetype in pricetypes %}
		<tr data-pricetype = "{{ pricetype.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				<a
					data-do = "open-edit-pricetype"
					data-pricetype-id = "{{ pricetype.id }}"
					data-pricetype-name = "{{ pricetype.id }}">{{ pricetype.name }}</a></td>
			<td>
				<a
					data-do = "open-edit-pricetype"
					data-pricetype-id = "{{ pricetype.id }}"
					data-pricetype-multiplier = "{{ pricetype.id }}" >{{ pricetype.multiplier }}</td>
			<td>
				<div class = "switch small">
					<input
						id = "pricetype-{{ pricetype.id }}-state"
						data-do = "switch-pricetype-state"
						data-pricetype-id = "{{ pricetype.id }}"
						data-pricetype-state = "{{ pricetype.id }}"
						type = "checkbox"{% if pricetype.state %} checked{% endif %}>
					<label for = "pricetype-{{ pricetype.id }}-state"></label>
				</div>
			</td>
			<td>
				<button class = "tiny secondary"
					data-do = "open-delete-pricetype"
					data-pricetype-id = "{{ pricetype.id }}">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "catalog/modal/pricetype.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/pricetype.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
