{% extends "main.html" %}
{% block title %}Anodos: Типы цен и наценки{% endblock %}
{% block content %}
{% if perms.catalog.change_product %}

<!-- Таблица со списком производителей -->
<div class="row collapse">
	<div class="small-12 columns">
		<table>
			<tr>
				<th>Наименование</th>
				<th>Статус</th>
				<th>Модификатор</th>
			</tr>
			{% for item in price_types %}
			<tr>
				<td><a id="price-type-{{ item.id }}" data-do="edit-item" data-id="{{ item.id }}" data-alias="{{ item.alias }}" data-multiplier="{{ item.multiplier }}">{{ item.name }}</a></td>
				<td>
					<div class="switch small">
						<input id="price-type-state-{{ item.id }}" data-id="{{ item.id }}" data-do="switch-item-state" type="checkbox"{% if item.state %} checked{% endif %}>
						<label for="price-type-state-{{ item.id }}"></label>
					</div>
				</td>
				<td id="price-type-multiplier-{{ item.id }}" >{{ item.multiplier }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<!-- Модальное окно редактирования элемента -->
<div id="EditItemModal" class="reveal-modal large" data-reveal>
	<fieldset>
		<legend>Редактировать тип цены и наценку</legend>
		<input id="edit-item-id" type="hidden">
		<label>Наименование
			<input id="edit-item-name" type="text">
		</label>
		<label>Псевдоним
			<input id="edit-item-alias" type="text">
		</label>
		<label>Модификатор
			<input id="edit-item-multiplier" type="text">
		</label>
	</fieldset>
	<button data-do="edit-item-save">Сохранить</button>
	<button data-do="edit-item-cancel" class="secondary">Отменить</button>
</div>
{% else %}
<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>
{% endif %}
{% endblock %}
{% block js-content %}
{% if perms.catalog.change_product %}
<script>
{% include "catalog/js/pricetypes.js" %}
</script>
{% endif %}
{% endblock %}
