{% extends "main.html" %}
{% block title %}Anodos: Типы цен и наценки{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

{% if perms.catalog.change_pricetype %}

<!-- Таблица со списком типов цен -->
<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Наименование</th>
			<th>Статус</th>
			<th>Модификатор</th>
		</tr>
		{% for price_type in price_types %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a data-do="open-edit-price-type" data-id="{{ price_type.id }}" data-price-type-name="{{ price_type.id }}">{{ price_type.name }}</a></td>
			<td>
				<div class="switch small">
					<input id="price-type-{{ price_type.id }}-state" data-do="switch-price-type-state" data-id="{{ price_type.id }}" data-price-type-state="{{ price_type.id }}" type="checkbox"{% if price_type.state %} checked{% endif %}>
					<label for="price-type-{{ price_type.id }}-state"></label>
				</div>
			</td>
			<td data-price-type-multiplier="{{ price_type.id }}" >{{ price_type.multiplier }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% include "catalog/modal/edit-price-type.html" %}

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% endblock %}

{% block js-content %}

<script>

{% include "catalog/js/edit-price-type.js" %}

{% include "catalog/js/search-on-stocks.js" %}

</script>

{% endblock %}
