{% extends "main.html" %}
{% block title %}Anodos: Каталог товаров и услуг{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

<!-- Панель вызова фильтра вывода -->
<div class="row collapse">
	<ul class="button-group even-3">
		<li><button id="filter-products-category" data-do="open-filter-products-category"{% if category == None %} class="secondary"{% endif %}><i class="fa fa-folder-open-o"></i> Категория</button></li>
		<li><button id="filter-products-vendor" data-do="open-filter-products-vendor"{% if vendor == None %} class="secondary"{% endif %}><i class="fa fa-building"></i> Производитель</button></li>
		<li><button id="filter-products-search" data-do="open-filter-products-search"{% if not search %} class="secondary"{% endif %}><i class="fa fa-search"></i> Дополнительно</button></li>
	</ul>
</div>

<!-- Таблица со списком продуктов -->
<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th class="text-center">Артикул</th>
			<th class="text-center">Наименование</th>
			<th class="text-center">Производитель</th>
			<th class="text-center">Цена</th>
			<th class="text-center" colspan="3">Количество</th>
		</tr>
		{% for product in products %}
		{% ifchanged product.category %}
		<tr><td colspan="8"><strong>{% if not product.category %}Без категории{% else %}{{ product.category.name }}{% endif %}</strong></td></tr>
		{% endifchanged %}
		<tr data-id="{{ product.id }}">
			<td>{{ product.n }}</td>
			<td data-product-article="{{ product.id }}">{{ product.article }}</td>
			<td style="word-break: break-all;"><a href="/catalog/product/{{ product.id }}/" data-do="open-edit-product" data-id="{{ product.id }}" data-product-name="{{ product.id }}">{{ product.name }}</a></td>
			<td class="text-center"><a href="/catalog/vendor/{{ product.vendor.alias }}/" data-do="open-edit-vendor" data-id="{{ product.vendor.id }}" data-vendor-name="{{ product.vendor.id }}">{{ product.vendor.name }}</a></td>
			<td class="text-right" style="white-space: nowrap;"><a data-do="open-view-parties" data-id="{{ product.id }}">{% autoescape off %}{{ product.price.price_xml }}{% endautoescape %}</a></td>
			<td class="text-center" style="white-space: nowrap;">{% if product.quantity.on_stock %}{% if product.quantity.on_stock == -1%}{% autoescape off %}&infin;{% endautoescape %}{% else %}{{ product.quantity.on_stock }}{% endif %}{% endif %}</td>
			<td class="text-center" style="white-space: nowrap;">{% if product.quantity.on_transit %}{% if product.quantity.on_transit == -1%}{% autoescape off %}&infin;{% endautoescape %}{% else %}{{ product.quantity.on_transit }}{% endif %}{% endif %}</td>
			<td class="text-center" style="white-space: nowrap;">{% if product.quantity.on_factory %}{% if product.quantity.on_factory == -1%}{% autoescape off %}&infin;{% endautoescape %}{% else %}{{ product.quantity.on_factory }}{% endif %}{% endif %}</td>
		</tr>
		{% endfor %}
	</table>

	<!-- Pagination -->
	{% if pages %}
	<div class="pagination-centered">
		<ul class="pagination">
			<li class="arrow{% if not page_prev %} unavailable{% endif %}"><a{% if page_prev %} href="{{ url }}{% if page_prev > 1 %}page/{{ page_prev }}/{% endif %}"{% endif %}>&laquo; Влево</a></li>
			{% for n in pages %}
				{% if n %}
				<li{% if page == n %} class="current"{% endif %}><a href="{{ url }}page/{{ n }}/">{{ n }}</a></li>
				{% else %}
				<li class="unavailable"><a>&hellip;</a></li>
				{% endif %}
			{% endfor %}
			<li class="arrow{% if not page_next %} unavailable{% endif %}"><a{% if page_next %} href="{{ url }}page/{{ page_next }}/"{% endif %}>Вправо &raquo;</a></li>
		</ul>
	</div>
	{% endif %}
</div>

{% include "catalog/modal/filter-products.html" %}
{% include "catalog/modal/edit-product.html" %}
{% include "catalog/modal/edit-vendor.html" %}
{% include "catalog/modal/view-parties.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/filter-products.js" %}
{% include "catalog/js/edit-product.js" %}
{% include "catalog/js/edit-vendor.js" %}
{% include "catalog/js/view-parties.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
