{% extends "main.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block search %}
{% include "catalog/search-on-stocks.html" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="medium-6 columns">
		<h3>{{ product.name }}</h3>
		<p>{{ product.description }}</p>
		<table>
		<thead>Характеристики</thead>
		<tr><td>Производитель</td><td>{{ product.vendor }}</td></tr>
		<tr><td>Артикул</td><td>{{ product.article }}</td></tr>
		{% for parameter in parameters %}
		{% if parameter.parameter_value_xml %}
		<tr>
			<td>{{ parameter.parameter_name_xml }}</td>
			<td>{% autoescape off %}{{ parameter.parameter_value_xml }}{% endautoescape %}</td>
		</tr>
		{% endif %}
		{% endfor %}
		</table>
	</div>

	<div class="medium-6 columns">
		{% if photos %}
		<div class="fotorama"
			data-nav="thumbs"
			data-transition="crossfade"
			data-arrows="true"
			data-click="false"
			data-swipe="false"
			data-trackpad="true">
			{% for photo in photos %}
			<img src="{{ photo.src }}"{% if photo.name %} data-caption="{{ photo.name }}"{% endif %}>
			{% endfor %}
		</div>
		{% endif %}
		<ul class="pricing-table">
			<li class="price">{% autoescape off %}{{ product.price.price_str }}{% endautoescape %}</li>
			<li class="cta-button"><button><i class="fa fa-cart-arrow-down"></i>&nbsp;&nbsp;Заказать</button></li>
		</ul>
	</div>
</div>

{% include "catalog/modal/pricetype.html" %}
{% endblock %}

{% block js-content %}
<script>
{% include "catalog/js/product.js" %}
{% include "catalog/js/search-on-stocks.js" %}
</script>
{% endblock %}
