{% extends "main.html" %}
{% block title %}Anodos: {{ product.name }}{% endblock %}

{% block search %}
<li class="divider"></li>
<li class="has-form">
	<div class="row collapse">
		<div class="large-10 small-9 columns">
			<input id="top-search-input" type="text" placeholder="Поиск по складу..." value="{{ search }}">
		</div>
		<div class="large-2 small-3 columns">
			<button id="top-search-button" class="secondary expand"><i class="fa fa-search"></i></button>
		</div>
	</div>
</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="large-12 columns">
		<h2>{{ product.name }} [{{ product.article }}]</h2>
	</div>
</div>

{% endblock %}
{% block js-content %}
<script>
{% include "catalog/js/product.js" %}
</script>
{% endblock %}
