{% extends "main.html" %}
{% block content %}

<!-- Таблица со списком загрузчиков -->
<div class="row collapse">
	<div class="small-12 columns">
		<table>
			<tr>
				<th>Наименование</th>
				<th>Дистрибьютор</th>
				<th>Статус</th>
				<th>Последнее обновление</th>
			</tr>
			{% for updater in updaters %}
			<tr>
				<td><a href="/catalog/updater/{{ updater.alias }}/">{{ updater.name }}</a></td>
				<td><a href="/catalog/distributor/{{ updater.distributor.alias }}/">{{ updater.distributor.name }}</a></td>
				<td>
					<div class="switch small">
						<input id="updater-state-{{ updater.id }}" data-id="{{ updater.id }}" class="do-switch-updater-state" type="checkbox"{% if updater.state %} checked{% endif %}>
						<label for="updater-state-{{ updater.id }}"></label>
					</div>
				</td>
				<td>{{ updater.updated|date:"d.m.Y H.i" }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
{% block js-content %}
<script>
{% include "catalog/js/updaters.js" %}
</script>
{% endblock %}
